body{
    display: flex;
}
.main{
    width: 100%;
    display: flex;
}
.sidebar{
    width: 200px;
    flex: 1;
    align-items: center;
}
.nejla{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid black;
}
.nejla h1{
    color: rgb(99, 15, 15);
}
.mainlista{
    margin-bottom: 20%;
}
h1{
    color: lightgray;
    font-size: 20px;
}
li{
    list-style-type: none;
    color: gray;
    padding: 10px;
}
.home{
    width: 100%;
    flex: 6;
}
.navbar{
    width: 100%;
    border-bottom: 1px solid black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar input{
    padding: 7px;
    border-radius: 30px;
    border: 1px solid black;
}
.blanko{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: gray;
}

li:hover{
    background-color: gray;
    color: black;
    transition: 1s;

}
.kartice{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.widget{
    width: 290px;
    height: 150px;
    border-radius: 10%;
    border: 1px solid black;
    background: rgb(252, 247, 247);
    margin-top: 20px;
    text-decoration: none;
    font-size: 17px;
    padding-left: 20px;
    box-shadow: 10px 10px 5px 12px rgb(226, 223, 223);

}
.widget aa{
    justify-content: flex-end;
}
.widget:hover{
    background-color: rgb(227, 201, 170);
    transition: width 2s, height 4s;
    transition-timing-function: ease-in;
}