body{
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.main{
    width: 400px;
    margin: 0 auto 0 auto;
    border: none;
    display: flex;
    justify-content: space-around;
    background: #edebf8 ;
    padding: 20px;
    text-align: center;
    border-bottom: 6px solid #d8cafe;

}
.img{
 border: none;
 width: 150px;
}

