body{
  background-image: url(moja.slika.jfif);
  background-size: cover;
  padding: 0%;
  margin: 0%;

background-color: rgb(111, 107, 107);
}
header{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba (0,0,0,0.5)), url(avion.png);
  background-size: cover;
  height: 100vh;
}
ul{
  float: right;
  list-style: none;
  margin: 15px;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  border: 1px solid transparent;
  transition: 0,6 ease;
}
ul li.active a{
  background-color: #fff;
  color: rgb(125, 149, 150);
}
ul li a:hover{
  background-color: #fff;
  color: rgb(251, 246, 246);
}
.logo img{
  width: 250px;
  height: auto;
}
.title{
  position: absolute;
  top: 50%;
  left: 33%;
}
.title h1{
  font-size: 70px;
  color: black;
}
.button{
  position: absolute;
  top: 70%;
  left: 39%;
}
.btn{
  text-decoration:none;
  border: 1px;
  border: 1px solid #fff;
  padding: 10px 30px;
}
.main{
  max-width: 1200px;
  margin: auto;
  position: absolute;
  top: 10px;
  left: 40px;
}
.btn:hover{
  background-color: #fff;
  color: black;
  transition: 0,6 ease;
}

@media screen and (max-width: 800px) {
  .main, .title, .child, .button {
    width: 100%; 
  }
}
ul{
  float: right;
  list-style: none;
  margin: 15px;
}
ul li{
  display: flex;
}
ul li a{
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  border: 1px solid transparent;
  transition: 0,6 ease;

}
ul li.active a{
  background-color: #fff;
  color: rgb(125, 149, 150);
}
ul li a:hover{
  background-color: #fff;
  color: rgb(251, 246, 246);
}
.logo img{
  width: 250px;
  height: auto;
}
.title{
  position: absolute;
  top: 50%;
  left: 33%;
}
.title h1{
  font-size: 30px;
  color: black;
}
.button{
  position: absolute;
  top: 70%;
  left: 39%;
  display: flex;
  flex-direction: column;

}
.btn{
  text-decoration:none;
  border: 1px;
  border: 1px solid black;
  padding: 10px 30px;
 color: white;
}
.main{
  max-width: 1200px;
  margin: auto;
  position: absolute;
  top: 10px;
  left: 40px;
}
.btn:hover{
  background-color: #fff;
  color: black;
  transition: 0,6 ease;
}
